@import '~antd/dist/antd.css';

body {
  background-color: #f4f4f4;
}

.ant-page-header {
  padding: 10px 16px;
}

.ant-card-bordered .ant-card-cover {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}


.App {
  width: 100%;
}

.BookList {
  /*max-width: 1300px;*/
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.BookList-item {
  display: flex;
  justify-content: center;
}
.BookList-item-margin {
  margin: 5px;
}

.BookList.ant-row::before {
  display: inherit;
}
.ant-divider-horizontal::before,
.ant-divider-horizontal::after {
  border-top: 1px solid #939393 !important;
}

.Book {
  height: 100%;
}
.Book .ant-card {
  flex: 1 0 250px;
  max-width: 250px;
  height: 100%;
  position: relative;
}
.Book .ant-card-bordered {
  border: 1px solid #ccc;
}
.Book .ant-card-cover {
  position: relative;
}
.Book-year {
  letter-spacing: -1px;
}
.Book .ant-card-meta-title {
  overflow: unset;
  white-space: normal;
  line-height: 1.2;
  margin-bottom: 3px !important;
}
.Book .ant-card-body {
  border-top: 1px solid #ccc;
}
