@import '~antd/dist/antd.css';

body {
  background-color: #ffffff;
}

.ant-page-header {
  padding: 10px 16px;
}
.ant-card-bordered .ant-card-cover {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.App {
  width: 100%;
}
.BookList {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.BookList-item {
  display: flex;
  justify-content: center;
}
.BookList-item-margin {
  margin: 5px;
}

.BookList.ant-row::before {
  display: inherit;
}
.ant-divider-with-text::before,
.ant-divider-with-text::after {
  border-top: 1px solid #939393 !important;
}

.Book {
  height: 100%;
}
.Book .ant-card {
  flex: 1 0 250px;
  max-width: 250px;
  height: 100%;
  position: relative;
}
.Book .ant-card-bordered {
  border: 1px solid #ccc;
}
.Book .ant-card-cover {
  position: relative;
}
.Book-year {
  letter-spacing: -1px;
}
.Book .ant-card-meta-title {
  overflow: unset;
  white-space: normal;
  line-height: 1.2;
  margin-bottom: 3px !important;
}
.Book .ant-card-body {
  border-top: 1px solid #ccc;
}


.BookList-item-current .Book {
  height: inherit;
}
.BookList-item-current .Book .ant-card {
  height: inherit;
}

/*{
  Antd breakpoints
  xs: '480px',
  sm: '576px',
  md: '768px',
  lg: '992px',
  xl: '1200px',
  xxl: '1600px',
}*/
@media (max-width: 575px) {
  .hideXs {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .hideSm {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .hideMd {
    display: none !important;
  }
}
@media (min-width: 991px) {
  .hideLg {
    display: none !important;
  }
}